<div ng-switch="!!entity.id">
    <h3 ng-switch-when="true">Edit parking place: {{ entity.name }}</h3>
    <h3 ng-switch-default="false">Create new parking place</h3>
</div>


<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Client name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default btn-xs">Submit</button>
    <a ui-sref="manager.places" class="btn btn-default btn-xs">Back</button>
</form>