<div ui-view>
    <h2>Contracts</h2>

    <div>
        filters
    </div>

    <a ui-sref="manager.contracts.new" class="pull-right btn btn-xs btn-primary">New contract</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Contract number</th>
            <th>Client</th>
            <th>Car numbers</th>
            <th>Group</th>
            <th>Valid since</th>
            <th>Valid till</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data track by row.id">
            <td>{{ row.id }}</td>
            <td>{{ row.client_name }}</td>
            <td>{{ row.car_numbers.join(', ') }}</td>
            <td>{{ row.group }}</td>
            <td>{{ row.valid_since | date : 'yyyy-MM-dd' }}</td>
            <td>{{ row.valid_till | date : 'yyyy-MM-dd' }}</td>
            <td>
                <span ng-if="!row.till" class="btn btn-xs btn-warning">Close</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>