<h1>Parking</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a ui-sref="home" ui-sref-active="active">Home</a></li>
    <li role="presentation"><a ui-sref="invoices" ui-sref-active="active">Incoives</a></li>
</ul>

<div ui-view></div>