<h1>Parking</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a ui-sref="home" ui-sref-active="active">Home</a></li>
    <li role="presentation"><a ui-sref="my.invoices" ui-sref-active="active">Incoives</a></li>
</ul>
<parking-table default-limit="50"></parking-table>