<nav aria-label="">
    <ul class="pagination">
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        <li ng-class="active: false">
            <span>1 <span class="sr-only">(current)</span></span>
        </li>
        <!--<li ng-repeat="" ng-class="active: false">-->
            <!--<span>1 <span class="sr-only">(current)</span></span>-->
        <!--</li>-->
    </ul>
</nav>