<h1>Customer</h1>
<ul class="nav nav-tabs">
    <li role="presentation"><a ui-sref="my.parking" ui-sref-active="active">Parking</a></li>
    <li role="presentation"><a ui-sref="my.invoices" ui-sref-active="active">Invoices</a></li>
</ul>

<div ui-view>

</div>