<div ui-view>
    <h2>Parking records</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Place</th>
            <th>Address</th>
            <th>Car number</th>
            <th>Parked in</th>
            <th>Parked out</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data track by row.id">
            <td>{{ row.name }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.car_number }}</td>
            <td>{{ row.since | date: 'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ row.till | date: 'yyyy-MM-dd HH:mm' }}</td>
            <td>
                <span ng-if="!row.till" class="btn btn-xs btn-warning">Close</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>