<h1>Manager</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a ui-sref="manager.parking" ui-sref-active="active">Parking</a></li>
    <li role="presentation"><a ui-sref="manager.places" ui-sref-active="active">Places</a></li>
    <li role="presentation"><a ui-sref="manager.groups" ui-sref-active="active">Groups</a></li>
    <li role="presentation"><a ui-sref="manager.contracts" ui-sref-active="active">Contracts</a></li>
</ul>

<div ui-view>
    THIS IS DEFAULT
</div>