<div ng-switch="!!item.id">
    <h3 ng-switch-when="true">Edit user: {{ item.email }}</h3>
    <h3 ng-switch-default="false">Create new user</h3>
</div>


<div class="panel panel-default" p-form p-resource="Company" p-resource-ids="id" ng-controller="FormController">
    <div class="panel-heading">Client info</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="input_name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input_name" placeholder="Name" ng-model="item.name">
                </div>
            </div>

            <hr/>
            <div class="form-group">
                <label for="input_name" class="col-sm-2 control-label">Managers</label>
                <div class="col-sm-10">
                    <div>
                        <input type="text" class="form-control" id="input_name" placeholder="Name" ng-model="item.name">
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="panel-footer">
        <div class="col-md-offset-2 col-md-pull-2">
            <a class="btn btn-primary" ng-if="!!item.id" ng-click="updateAction(item)">Update</a>
            <a class="btn btn-success" ng-if="!(!!item.id)" ng-click="createAction(item)">Create</a>
            <a class="btn btn-danger" ng-if="!!item.id" ng-click="deleteAction(item)">Delete</a>
            <!--<a class="btn btn-warning" ng-click="cancelAction()">Cancel</a>-->
            <a ui-sref="admin.companies" class="btn btn-default">Back</a>
        </div>
    </div>
</div>