<div ng-switch="!!entity.id">
    <h3 ng-switch-when="true">Edit customer group: {{ entity.name }}</h3>
    <h3 ng-switch-default="false">Create new customer group</h3>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Customer group info</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="input_name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input_name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="input_regular" class="col-sm-2 control-label">Is default</label>
                <div class="col-sm-8">
                    <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" id="input_regular" disabled> Default(regular) group
                        </label>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="input_name" class="col-sm-2 control-label">Monthly fee</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="input_monthly" placeholder="Monthly fee">
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="col-md-offset-2 col-md-pull-2">
            <a class="btn btn-primary">Update</a>
            <a class="btn btn-default">Create</a>
            <a class="btn btn-danger">Delete</a>
            <a class="btn btn-warning">Delete</a>
            <a class="btn btn-info">Cancel</a>
            <a class="btn btn-warning">warning</a>
            <a ui-sref="manager.places" class="btn btn-default btn-xs">Back</a>
        </div>
    </div>
</div>