<ui-view>
    <section class="panel panel-default">
        <header class="panel-heading">
            <a ui-sref="manager.groups.new" class="btn-xs btn btn-primary pull-right">Add new group</a>
            Customer groups
        </header>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Group name</th>
                <th>Is default</th>
                <th>Clients count</th>
                <th>Valid since</th>
                <th>Valid till</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in data track by row.id">
                <td><a ui-sref="manager.groups.edit({id: row.id})">{{ row.name }}</a></td>
                <td><span ng-if="row.is_default" class="glyphicon glyphicon-ok"></span></td>
                <td><a ui-sref="manager.contracts({group_id: row.id})">{{ row.customers_total }}</a></td>
                <td>{{ row.valid_since | date: 'yyyy/MM/dd' }}</td>
                <td>{{ row.valid_till | date: 'yyyy/MM/dd' }}</td>
                <td class="text-right">
                    <a ui-sref="manager.contracts.edit({id: row.id})" class="btn-primary btn btn-xs">edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        <footer class="panel-footer text-right">
            <ul class="pagination">
                <li class="disabled">
                  <span>
                    <span aria-hidden="true">&laquo;</span>
                  </span>
                </li>
                <li class="active">
                    <span>1 <span class="sr-only">(current)</span></span>
                </li>
            </ul>
        </footer>
    </section>
</ui-view>