<ui-view>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Ivoice nr.</th>
        <th>Company</th>
        <th>Period start</th>
        <th>Period end</th>
        <th class="text-right">Parkings total</th>
        <th class="text-right">Sum total</th>
        <th></th>
        <th class="text-right">Payed on</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in data track by row.id" ng-class="{'bg-is-payed': row.is_payed, 'bg-not-payed': !row.is_payed}">
        <td><a ui-sref="my.invoices.invoice({id: row.invoice_number})">{{ row.invoice_number }}</a></td>
        <td>{{ row.company_name }}</td>
        <td>{{ row.period_start | date: 'yyyy-MM-dd' }}</td>
        <td>{{ row.period_end | date: 'yyyy-MM-dd' }}</td>
        <td class="text-right">{{ row.parking_total }}</td>
        <td class="text-right">{{ row.sum_total }} <i class="glyphicon glyphicon-eur"></i> </td>
        <td class="text-right">
            <a ui-sref="my.invoices.invoice({id: row.invoice_number})" class="btn btn-xs btn-info">
                <i class="glyphicon glyphicon-search"></i> view
            </a>
            <a class="btn btn-xs btn-primary" ui-sref="my.invoices.pdf({id: row.invoice_number})">
                <i class="glyphicon glyphicon-download"></i> pdf
            </a>
        </td>
        <td ng-switch="row.is_payed" class="text-right">
            <span ng-switch-when="true">
                {{ row.payed_on | date : 'yyyy-MM-dd HH:mm'}}
            </span>
            <span ng-switch-when="false">
                not payed
                <span class="btn btn-xs btn-success">
                    <i class="glyphicon glyphicon-eur"></i> pay
                </span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</ui-view>