<section class="col-xs-offset-3">
    <div class="row m-t-100">
        <div class="col-sm-3 text-center well">
            <a ui-sref="my">Customer</a>
        </div>
        <div class="col-sm-3 text-center well">
            <a ui-sref="manager">Manager</a>
        </div>
        <div class="col-sm-3 text-center well">
            <a ui-sref="admin.users">Admin</a>
        </div>
    </div>
</section>