<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Company name</th>
        <th>Place name</th>
        <th>Car number</th>
        <th>Time parked</th>
        <th>Price</th>
        <th>Started at</th>
        <th>Finished at</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in data track by row.id">
        <td>{{ $loop.index }}</td>
        <td>{{ row.company_name }}</td>
        <td>{{ row.place_name }}</td>
        <td>{{ row.car_number }}</td>
        <td>{{ row.hours }} h. {{ row.minutes }} min.</td>
        <td>{{ row.price }}</td>
        <td>{{ row.started_at | date: 'yyyy-MM-dd HH:mm' }}</td>
        <td>{{ row.finished_at | date: 'yyyy-MM-dd HH:mm' }}</td>
    </tr>
    </tbody>
</table>

<pagination></pagination>