<div ui-view>
    <h2>Parking Place: <small>prices</small></h2>
    <a ui-sref="manager.places.new" ui-sref-active="active" class="btn btn-primary btn-xs pull-right">Add new</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Price</th>
            <th ng-repeat="group in groups track by group.id">{{ group.name }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data track by row.id">
            <td><a ui-sref="manager.places.edit({id: row.id})">{{ row.name }}</a></td>
            <td ng-repeat="group in groups track by group.id">
                
            </td>
        </tr>
        </tbody>
    </table>
</div>