<div ng-controller="UsersController">
    <ui-view ng-controller="TableViewController">

        <a ui-sref="admin.users.create" class="btn btn-xs btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Create</a>

        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Email/username</th>
                <th>Type</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in items track by row.id">
                <td>{{ row.username }}</td>
                <td>{{ row.user_type }}</td>
                <td class="text-right text-nowrap">
                    <a ng-click="login(row.id)" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-log-in"></i> login</a>
                    <a ui-sref="admin.users.edit({id: row.id})" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i> edit</a>
                    <a ng-click="delete(row.id)" class="btn btn-xs btn-danger" parking-confirm-click="Do you want to delete this record?">
                        <i class="glyphicon glyphicon-remove"></i> delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </ui-view>
</div>