<div ng-switch="!!entity.id">
    <h3 ng-switch-when="true">Edit parking place: {{ entity.name }}</h3>
    <h3 ng-switch-default="false">Create new parking place</h3>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Parking place info</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="input_name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input_name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="input_address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input_address" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label for="input_car_places" class="col-sm-2 control-label">Car places</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="input_car_places" placeholder="Car places">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<button type="submit" class="btn btn-default">Sign in</button>-->
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>
    <div class="panel-footer">
        <div class="col-md-offset-2 col-md-pull-2">
            <a class="btn btn-primary">Update</a>
            <a class="btn btn-default">Create</a>
            <a class="btn btn-danger">Delete</a>
            <a class="btn btn-warning">Delete</a>
            <a class="btn btn-info">Cancel</a>
            <a class="btn btn-warning">warning</a>
            <a ui-sref="manager.places" class="btn btn-default btn-xs">Back</button>
        </div>
    </div>
</div>