<div ui-view>
    <h2>Parking places</h2>
    <a ui-sref="manager.places.new" ui-sref-active="active" class="btn btn-primary btn-xs pull-right">Add new</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Car places</th>
            <th>Prices groups</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data track by row.id">
            <td><a ui-sref="manager.places.edit({id: row.id})">{{ row.name }}</a></td>
            <td>{{ row.address }}</td>
            <td>{{ row.car_places }}</td>
            <td>Prices groups</td>
            <td class="text-right">
                <a ui-sref="manager.places.edit({id: row.id})" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i> edit</a>
                <a ui-sref="manager.places.prices({id: row.id})" class="btn-primary btn btn-xs"><i class="glyphicon glyphicon-eur"></i> prices</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>