<h1>Admin</h1>
<ul class="nav nav-tabs">
    <li role="presentation"><a ui-sref="admin.users" ui-sref-active="active">Users</a></li>
    <li role="presentation"><a ui-sref="admin.companies" ui-sref-active="active">Companies</a></li>
</ul>
<div ui-view>
</div>