<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Email/username</th>
        <th>Password</th>
        <th>Type</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in data track by row.id">
        <td>{{ row.email }}</td>
        <td>{{ row.password }}</td>
        <td>{{ row.type }}</td>
        <td class="text-right text-nowrap">
            <a ng-click="login(row.id)" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-log-in"></i> login</a>
            <a ui-sref="admin.users.edit({id: row.id})" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i> edit</a>
            <a ng-click="delete(row.id)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i> delete</a>
        </td>
    </tr>
    </tbody>
</table>